.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $main-padding*2 0;
}

.logo {
    background: $color-logo;
    color: #fff;
    padding: $main-padding;
    font-size: 3rem;
    font-family: 'Oleo Script', serif;
    border-radius: $border-radius;
}

.menu-toggle {
    padding: $main-padding/2 0;
    .menu-toggle-button {
        border: none;
        border-radius: $border-radius;
        background: rgba($color-text, 0.5);
        color: #fff;
        padding: $main-padding/2 $main-padding;
        outline: none;
        cursor: pointer;
        &:hover {
            background: rgba($color-text, 0.75);
        }
    }
}

nav {
    display: none;
}

@include desktop {
    .menu-toggle {
        display: none;
    }
    .header-content {
        justify-content: space-between;
    }
    nav {
        display: block;
        ul {
            display: flex;
        }
        li {
            padding: $main-padding;
        }
        a {
            padding: $main-padding;
            border-radius: $border-radius;
            font-size: 0.9rem;
            text-decoration: none;
            font-weight: 700;
            &:link,
            &:visited {
                color: $color-text;
            }
            &:hover {
                color: $color-text;
                background-color: #fff;
            }
            &.active,
            &:active {
                color: #fff;
                background-color: $color-text;
            }
        }
    }
}